In [1]:
import pandas as pd

In [2]:
file = "RetailPrices_CLEANED.csv"
df = pd.read_csv(file)

In [3]:
df.fillna(value={'Weight':1}, inplace=True)
df = df[df['Price'].notna()]
df = df[df['Unit'].notna()]
df = df[(df[['Price']] != 0).all(axis=1)]

In [4]:
df["unit_price(/kg)"]=""
df.head()

,Unnamed: 0,Country,Region,Unit,Country_Code,Weight,Date,Price,unit_price(/kg)
2665,2665,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,
2668,2668,Italy,Europe,kg,ITL,1.0,Oct-1963,2051.00,
2670,2670,Norway,Europe,kg,NOK,1.0,Oct-1963,12.00,
2671,2671,Sweden,Europe,kg,SEK,1.0,Oct-1963,8.45,
2961,2961,Cyprus,Europe,kg,CYP,1.0,Nov-1963,0.65,

In [5]:
df.loc[df["Unit"]=="kg","unit_price(/kg)"]= (df["Price"]/ df["Weight"]).round(2)
df.loc[df["Unit"]=="g","unit_price(/kg)"]= (df["Price"]/ df["Weight"]/0.001).round(2)
df.loc[df["Unit"]=="lb","unit_price(/kg)"]= (df["Price"]/ df["Weight"]/0.45).round(2)
df.loc[df["Unit"]=="1/2 lb","unit_price(/kg)"]= (df["Price"]/ df["Weight"]/0.225).round(2)

In [6]:
df.to_csv("RetailPrice_CLEANED_VIZREADY.csv")