In [1]:
import pandas as pd

In [2]:
df_retail_prices = pd.read_csv("RetailPrice_CLEANED_VIZREADY_countrynameupdated.csv")

In [6]:
df_exchange = pd.read_csv("../exchange_merge_OPTIMIZED.csv")

In [9]:
df_retail_prices.drop(columns=df_retail_prices.iloc[:,:3].columns.tolist(), inplace=True)

In [10]:
df_retail_prices

,Country,Region,Unit,Country_Code,Weight,Date,Price,unit_price(/kg)
0,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65
1,Italy,Europe,kg,ITL,1.0,Oct-1963,2051.00,2051.00
2,Norway,Europe,kg,NOK,1.0,Oct-1963,12.00,12.00
3,Sweden,Europe,kg,SEK,1.0,Oct-1963,8.45,8.45
4,Cyprus,Europe,kg,CYP,1.0,Nov-1963,0.65,0.65
...,...,...,...,...,...,...,...,...
13123,Slovak Rep.,Europe,g,EUR,250.0,Dec-2018,2.99,11.96
13124,Spain,Europe,g,EUR,250.0,Dec-2018,1.94,7.76
13125,Sweden,Europe,g,SEK,500.0,Dec-2018,28.62,57.24
13126,United Kingdom,Europe,½ lb,GBP,1.0,Dec-2018,2.92,NaN
13127,Brazil,South America,g,BRL,500.0,Dec-2018,7.38,14.76

In [11]:
df_retail_prices['Datetime'] = pd.to_datetime(df_retail_prices["Date"], format='%b-%Y')

In [13]:
df_retail_prices['Year'] = [d.year for d in df_retail_prices['Datetime']]
df_retail_prices['Month'] = [d.month for d in df_retail_prices['Datetime']]

In [15]:
df_retail_prices.drop(columns=['Date'], inplace=True)

In [17]:
df_growers_merged = pd.merge(df_retail_prices, df_exchange, on=['Country', 'Year'])

In [19]:
df_growers_merged.to_csv("grower_prices_MERGED_VIZREADY.csv")