In [14]:
import pandas as pd
import numpy as np
import os
import glob

# [ E ] xtract

In [19]:
# Read xcel using pandas
path = '../GrowerPrices_prepped.xlsx'
xl = pd.read_excel(path, sheet_name=None)

In [20]:
# Combine rows igoring index
df = pd.concat(xl, ignore_index=True)
df

,Country,Continents,Currency_Type,Type of Coffee,Jan-63,Feb-63,Mar-63,Apr-63,May-63,Jun-63,...,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Burundi,Africa,(BIF/kg : P),Arabica,20.0,20.0,20.0,20.5,20.5,20.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cameroon,Africa,(XAF/kg : G),Robusta,90.3,90.3,90.3,90.3,90.3,90.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Côte d'Ivoire,Africa,(XAF/kg : G),Robusta,80.0,80.0,80.0,80.0,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,Bolivia (Plurinational State of),South America,(BOB/kg : G),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,101.5500,38.4300,31.06,36.0600,46.2800,38.98,37.1500,67.3300,105.7800,83.62
700,Brazil,South America,(BRL/60kg : G),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,429.8200,430.7100,451.02,452.5200,439.2500,421.16,415.3900,441.2300,441.5900,420.32
701,Brazil,South America,(BRL/60kg : G),Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,305.5600,320.0500,330.79,335.3900,332.3900,319.26,319.3800,331.7100,332.3300,309.44
702,Colombia,South America,(COP/125kg : P),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,729854.8387,714440.4762,753978.00,745380.9524,717045.4545,685000.00,684210.5263,793130.4348,802928.5714,726825.00
703,Peru,South America,(PEN/kg : P),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df = df.drop(df.index[0:1])
df.reset_index(inplace=True, drop=True)

In [25]:
# Drop any rows without country values
df = df.dropna(subset=['Country']).reset_index(drop=True)

# [ T ] ransform

In [26]:
# Quick preview
df.head()

,Country,Continents,Currency_Type,Type of Coffee,Jan-63,Feb-63,Mar-63,Apr-63,May-63,Jun-63,...,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18
0,Burundi,Africa,(BIF/kg : P),Arabica,20.0,20.0,20.0,20.5,20.5,20.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cameroon,Africa,(XAF/kg : G),Robusta,90.3,90.3,90.3,90.3,90.3,90.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Côte d'Ivoire,Africa,(XAF/kg : G),Robusta,80.0,80.0,80.0,80.0,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ethiopia,Africa,(ETB/17kg : G),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gabon,Africa,(XAF/kg : D),Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Check col headers
df.columns

Index(['Country', 'Continents', 'Currency_Type', 'Type of Coffee', 'Jan-63',
       'Feb-63', 'Mar-63', 'Apr-63', 'May-63', 'Jun-63',
       ...
       'Mar-18', 'Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18',
       'Oct-18', 'Nov-18', 'Dec-18'],
      dtype='object', length=676)

In [28]:
# Check how many values per col
df.count()

Country           596
Continents        596
Currency_Type     596
Type of Coffee    596
Jan-63              8
                 ...
Aug-18             18
Sep-18             16
Oct-18             14
Nov-18             17
Dec-18             17
Length: 676, dtype: int64

In [29]:
# Check data types
df.dtypes

Country            object
Continents         object
Currency_Type      object
Type of Coffee     object
Jan-63            float64
                   ...
Aug-18            float64
Sep-18            float64
Oct-18            float64
Nov-18            float64
Dec-18            float64
Length: 676, dtype: object

In [30]:
# Convert all values to float
cols = df.loc[:,'Jan-63':].columns
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [31]:
df.dtypes

Country            object
Continents         object
Currency_Type      object
Type of Coffee     object
Jan-63            float64
                   ...
Aug-18            float64
Sep-18            float64
Oct-18            float64
Nov-18            float64
Dec-18            float64
Length: 676, dtype: object

In [32]:
# Check for missing index country values
df.isna().sum()

Country             0
Continents          0
Currency_Type       0
Type of Coffee      0
Jan-63            588
                 ...
Aug-18            578
Sep-18            580
Oct-18            582
Nov-18            579
Dec-18            579
Length: 676, dtype: int64

In [33]:
# Remove those empty rows
df1 = df.dropna(subset=['Country'])
# # Recheck
df1.isna().sum()

Country             0
Continents          0
Currency_Type       0
Type of Coffee      0
Jan-63            588
                 ...
Aug-18            578
Sep-18            580
Oct-18            582
Nov-18            579
Dec-18            579
Length: 676, dtype: int64

In [34]:
# Drop rows with completely missing data
df1 = df1.dropna(how='all')

In [35]:
df1

,Country,Continents,Currency_Type,Type of Coffee,Jan-63,Feb-63,Mar-63,Apr-63,May-63,Jun-63,...,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18
0,Burundi,Africa,(BIF/kg : P),Arabica,20.0,20.0,20.0,20.5,20.5,20.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cameroon,Africa,(XAF/kg : G),Robusta,90.3,90.3,90.3,90.3,90.3,90.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Côte d'Ivoire,Africa,(XAF/kg : G),Robusta,80.0,80.0,80.0,80.0,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ethiopia,Africa,(ETB/17kg : G),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gabon,Africa,(XAF/kg : D),Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,Bolivia (Plurinational State of),South America,(BOB/kg : G),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,101.5500,38.4300,31.06,36.0600,46.2800,38.98,37.1500,67.3300,105.7800,83.62
592,Brazil,South America,(BRL/60kg : G),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,429.8200,430.7100,451.02,452.5200,439.2500,421.16,415.3900,441.2300,441.5900,420.32
593,Brazil,South America,(BRL/60kg : G),Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,305.5600,320.0500,330.79,335.3900,332.3900,319.26,319.3800,331.7100,332.3300,309.44
594,Colombia,South America,(COP/125kg : P),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,729854.8387,714440.4762,753978.00,745380.9524,717045.4545,685000.00,684210.5263,793130.4348,802928.5714,726825.00
595,Peru,South America,(PEN/kg : P),Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Iterate over currency and remove extraneous elements
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

s = df1['Currency_Type']

new_s = []
num = []
count = 0

for elt in s:
    elt = elt.replace('(',"")
    elt = elt.replace(')',"")
    elt = elt.replace('/'," ")
    elt = elt.replace(': ',"")
    
    if hasNumbers(elt):
        count += 1
        num.append(elt)
    else:
        num.append(elt.replace(elt,'nan'))
        
    new_s.append(elt)
    
df1['Currency_Type'] = new_s
df1.head()

,Country,Continents,Currency_Type,Type of Coffee,Jan-63,Feb-63,Mar-63,Apr-63,May-63,Jun-63,...,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18
0,Burundi,Africa,BIF kg P,Arabica,20.0,20.0,20.0,20.5,20.5,20.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cameroon,Africa,XAF kg G,Robusta,90.3,90.3,90.3,90.3,90.3,90.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Côte d'Ivoire,Africa,XAF kg G,Robusta,80.0,80.0,80.0,80.0,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ethiopia,Africa,ETB 17kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gabon,Africa,XAF kg D,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df1[['Country_Code','Unit','Type', 'Blank']] = df1['Currency_Type'].str.split(' ',expand=True)

df1.head(50)

,Country,Continents,Currency_Type,Type of Coffee,Jan-63,Feb-63,Mar-63,Apr-63,May-63,Jun-63,...,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Country_Code,Unit,Type,Blank
0,Burundi,Africa,BIF kg P,Arabica,20.00,20.00,20.00,20.50,20.50,20.50,...,NaN,NaN,NaN,NaN,NaN,NaN,BIF,kg,P,None
1,Cameroon,Africa,XAF kg G,Robusta,90.30,90.30,90.30,90.30,90.30,90.30,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
2,Côte d'Ivoire,Africa,XAF kg G,Robusta,80.00,80.00,80.00,80.00,80.00,80.00,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
3,Ethiopia,Africa,ETB 17kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ETB,17kg,G,None
4,Gabon,Africa,XAF kg D,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,D,None
5,Kenya,Africa,KES 50kg G,Arabica,274.00,274.00,274.00,274.00,274.00,274.00,...,NaN,NaN,NaN,NaN,NaN,NaN,KES,50kg,G,None
6,Madagascar,Africa,MGF kg G,Robusta,83.00,83.00,83.00,83.00,83.00,83.00,...,NaN,NaN,NaN,NaN,NaN,NaN,MGF,kg,G,None
7,Togo,Africa,XAF kg G,Robusta,65.00,65.00,65.00,65.00,65.00,65.00,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
8,Costa Rica,Central America & Mexico,CRC SQ G,Arabica,229.22,229.22,229.22,229.22,229.22,229.22,...,NaN,NaN,NaN,NaN,NaN,NaN,CRC,SQ,G,None
9,Guatemala,Central America & Mexico,GTQ SQ G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GTQ,SQ,G,None
10,Brazil,South America,CRZ 60kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CRZ,60kg,G,None
11,Colombia,South America,COP 125kg P,Arabica,555.52,555.52,555.52,555.52,555.52,555.52,...,NaN,NaN,NaN,NaN,NaN,NaN,COP,125kg,P,None
12,Venezuela,South America,VEB SQ G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,VEB,SQ,G,None
13,Burundi,Africa,BIF kg P,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,BIF,kg,P,None
14,Cameroon,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
15,Côte d'Ivoire,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
16,Ethiopia,Africa,ETB 17kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ETB,17kg,G,None
17,Gabon,Africa,XAF kg D,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,D,None
18,Kenya,Africa,KES 50kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,KES,50kg,G,None
19,Madagascar,Africa,MGF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,MGF,kg,G,None
20,Togo,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
21,Uganda,Africa,UGS kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,UGS,kg,G,None
22,Costa Rica,Central America & Mexico,CRC SQ G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CRC,SQ,G,None
23,Cuba,Central America & Mexico,CUP 28lb F,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CUP,28lb,F,None
24,Guatemala,Central America & Mexico,GTQ SQ G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GTQ,SQ,G,None
25,Brazil,South America,CRZ 60kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CRZ,60kg,G,None
26,Colombia,South America,COP 125kg P,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,COP,125kg,P,None
27,Venezuela,South America,VEB SQ G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,VEB,SQ,G,None
28,Angola,Africa,ANK kg D,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ANK,kg,D,None
29,Benin,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
30,Burundi,Africa,BIF kg P,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,BIF,kg,P,None
31,Cameroon,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
32,Central African Republic,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
33,Congo,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
34,Côte d'Ivoire,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
35,Democratic Republic of Congo,Africa,ZAA kg P,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ZAA,kg,P,None
36,Ethiopia,Africa,ETB 17kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ETB,17kg,G,None
37,Gabon,Africa,XAF kg D,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,D,None
38,Ghana,Africa,GHC 60kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GHC,60kg,G,None
39,Guinea,Africa,GNF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GNF,kg,G,None
40,Kenya,Africa,KES 50kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,KES,50kg,G,None
41,Liberia,Africa,LRD,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,LRD,,None,None
42,Madagascar,Africa,MGF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,MGF,kg,G,None
43,Nigeria,Africa,NGN m Ton G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NGN,m,Ton,G
44,Rwanda,Africa,RWF kg P,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,RWF,kg,P,None
45,Sierra Leone,Africa,SLL L Ton G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SLL,L,Ton,G
46,Tanzania,Africa,TZS kg P,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,TZS,kg,P,None
47,Togo,Africa,XAF kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,XAF,kg,G,None
48,Uganda,Africa,UGS kg G,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,UGS,kg,G,None
49,Uganda,Africa,UGS kg G,Robusta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,UGS,kg,G,None

In [38]:
cols = list(df1)

# move the column to head of list using index, pop and insert
cols.insert(3, cols.pop(cols.index('Type')))
cols.insert(3, cols.pop(cols.index('Unit')))
cols.insert(3, cols.pop(cols.index('Currency_Type')))
cols.insert(3, cols.pop(cols.index('Country_Code')))
df2 = df1.loc[:,cols]
df2['Currency_Type'] = df2['Currency_Type'].str.extract('(\d+)')
df2['Unit'] = df2['Unit'].str.extract('(\D+)')
df2.rename(columns={'Currency_Type':'Weight'}, inplace=True)
df2.drop(columns='Blank', inplace=True)
df2.fillna(value={'Weight':1}, inplace=True)

In [39]:
### Where I left off. Just completed getting everything cleaned up. Quick look over and should be able to
### start slicing

In [40]:
df2.reset_index(drop=True, inplace=True)

In [41]:
df2

,Country,Continents,Unit,Country_Code,Weight,Type,Type of Coffee,Jan-63,Feb-63,Mar-63,...,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18
0,Burundi,Africa,kg,BIF,1,P,Arabica,20.0,20.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cameroon,Africa,kg,XAF,1,G,Robusta,90.3,90.3,90.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Côte d'Ivoire,Africa,kg,XAF,1,G,Robusta,80.0,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ethiopia,Africa,kg,ETB,17,G,Arabica,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gabon,Africa,kg,XAF,1,D,Robusta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,Bolivia (Plurinational State of),South America,kg,BOB,1,G,Arabica,NaN,NaN,NaN,...,101.5500,38.4300,31.06,36.0600,46.2800,38.98,37.1500,67.3300,105.7800,83.62
592,Brazil,South America,kg,BRL,60,G,Arabica,NaN,NaN,NaN,...,429.8200,430.7100,451.02,452.5200,439.2500,421.16,415.3900,441.2300,441.5900,420.32
593,Brazil,South America,kg,BRL,60,G,Robusta,NaN,NaN,NaN,...,305.5600,320.0500,330.79,335.3900,332.3900,319.26,319.3800,331.7100,332.3300,309.44
594,Colombia,South America,kg,COP,125,P,Arabica,NaN,NaN,NaN,...,729854.8387,714440.4762,753978.00,745380.9524,717045.4545,685000.00,684210.5263,793130.4348,802928.5714,726825.00
595,Peru,South America,kg,PEN,1,P,Arabica,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
lst_cols = []

for col in df2.loc[:,'Jan-63':].columns:
    if 'unnamed' not in col.lower():
        lst_cols.append(col)

In [43]:
# Clean up dates to remove issue of partial YY
s_dates = pd.Series(lst_cols)
s_dates_spl = s_dates.str.split("-",expand=True)

for i, elt in enumerate(s_dates_spl[1]):
    if int(elt) <= 99 and int(elt) > 18:
        s_dates_spl.at[i,1] = "19" + elt
    else:
        s_dates_spl.at[i,1] = "20" + elt
        
s_dates = s_dates_spl[0].str.cat(s_dates_spl[1], join='right', sep='-')

In [44]:
#  inplace replace col names to avoid date confusion on last digits
for i, col in enumerate(df2.loc[:,'Jan-63':].columns):
    df2.rename(columns={str(col) : str(s_dates[i])}, inplace = True)

In [47]:
df2.head()

,Country,Continents,Unit,Country_Code,Weight,Type,Type of Coffee,Jan-1963,Feb-1963,Mar-1963,...,Mar-2018,Apr-2018,May-2018,Jun-2018,Jul-2018,Aug-2018,Sep-2018,Oct-2018,Nov-2018,Dec-2018
0,Burundi,Africa,kg,BIF,1,P,Arabica,20.0,20.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cameroon,Africa,kg,XAF,1,G,Robusta,90.3,90.3,90.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Côte d'Ivoire,Africa,kg,XAF,1,G,Robusta,80.0,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ethiopia,Africa,kg,ETB,17,G,Arabica,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gabon,Africa,kg,XAF,1,D,Robusta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
lst_cols = []

for col in df2.loc[:,'Jan-1963':].columns:
    if 'unnamed' not in col.lower():
        lst_cols.append(col)

In [49]:
df_test = pd.melt(df2, id_vars=['Country', 'Continents','Unit','Country_Code','Weight','Type','Type of Coffee'], value_vars=lst_cols).rename(columns={'variable':'Date','value':'Price'})

In [50]:
df_test.sort_values('Country')

,Country,Continents,Unit,Country_Code,Weight,Type,Type of Coffee,Date,Price
171492,Angola,Africa,kg,AOA,1,D,Robusta,Dec-1986,NaN
112267,Angola,Africa,kg,ANK,1,D,Robusta,Sep-1978,NaN
253924,Angola,Africa,kg,ANK,1,D,Robusta,Jul-1998,NaN
375508,Angola,Africa,kg,ANK,1,D,Robusta,Jul-2015,NaN
220638,Angola,Africa,kg,ANK,1,D,Robusta,Nov-1993,NaN
...,...,...,...,...,...,...,...,...,...
24736,Zimbabwe,Africa,m,ZWD,1,Ton,Arabica,Jun-1966,NaN
267962,Zimbabwe,Africa,m,ZWD,1,Ton,Arabica,Jun-2000,NaN
322198,Zimbabwe,Africa,m,ZWD,1,Ton,Arabica,Jan-2008,NaN
159973,Zimbabwe,Africa,m,ZWD,1,Ton,Arabica,May-1985,NaN
71115,Zimbabwe,Africa,m,ZWD,1,Ton,Arabica,Dec-1972,NaN

In [51]:
# .rename(columns=({'variable':'Date','value':'Price'}))

In [52]:
df_test.to_csv('GrowerPrices_CLEANED.csv')

In [ ]:
# Imported Yin Code Here

In [56]:
file = "GrowerPrices_CLEANED.csv"
df = pd.read_csv(file)

df["unit_price(/kg)"]=""
df.head()

df.loc[df["Unit"]=="kg","unit_price(/kg)"]= (df["Price"]/ df["Weight"]).round(2)
df.loc[df["Unit"]=="L","unit_price(/kg)"]= (df["Price"]/ df["Weight"]/1016).round(2)
df.loc[df["Unit"]=="m","unit_price(/kg)"]= (df["Price"]/ df["Weight"]/1000).round(2)
df.loc[df["Unit"]=="lb","unit_price(/kg)"]= (df["Price"]/ df["Weight"]/0.45).round(2)
df.loc[df["Unit"]=="SQ","unit_price(/kg)"]= (df["Price"]/ df["Weight"]/45.9).round(2)

df = df[df['Price'].notna()]
df = df[df['Unit'].notna()]
df = df[(df[['Price']] != 0).all(axis=1)]

df.to_csv("Grower_Prices_VIZREADY.csv")