In [30]:
import pandas as pd

In [31]:
path = 'exchange_rates_VIZREADY.csv'

In [32]:
xchangerates = pd.read_csv(path)
xchangerates.head()

   Unnamed: 0                       Country  Scale  Date  Conversions_Numeric
0           0  Afghanistan, Islamic Rep. of  Units  1963         3.510964e+01
1           1                       Albania  Units  1963                  NaN
2           2                       Algeria  Units  1963         4.937060e+00
3           3                        Angola  Units  1963         2.875203e-08
4           4                      Anguilla  Units  1963         1.714118e+00

In [33]:
growerpath = 'deconstructed_GrowerPrices/Grower_Prices_VIZREADY.csv'
grower_prices = pd.read_csv(growerpath)
grower_prices.head()

,Unnamed: 0,Unnamed: 0.1,Country,Continents,Unit,Country_Code,Weight,Type,Type of Coffee,Date,Price,unit_price(/kg)
0,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.00
1,1,1,Cameroon,Africa,kg,XAF,1,G,Robusta,Jan-1963,90.3,90.30
2,2,2,Côte d'Ivoire,Africa,kg,XAF,1,G,Robusta,Jan-1963,80.0,80.00
3,5,5,Kenya,Africa,kg,KES,50,G,Arabica,Jan-1963,274.0,5.48
4,6,6,Madagascar,Africa,kg,MGF,1,G,Robusta,Jan-1963,83.0,83.00

In [34]:
grower_prices = grower_prices.merge(xchangerates, how='inner', on='Country')
grower_prices.head(30)

,Unnamed: 0_x,Unnamed: 0.1,Country,Continents,Unit,Country_Code,Weight,Type,Type of Coffee,Date_x,Price,unit_price(/kg),Unnamed: 0_y,Scale,Date_y,Conversions_Numeric
0,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,30,Units,1963,50.000000
1,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,254,Units,1964,50.000000
2,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,478,Units,1965,84.375000
3,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,702,Units,1966,87.500000
4,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,926,Units,1967,87.500000
5,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,1150,Units,1968,87.500000
6,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,1374,Units,1969,87.500000
7,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,1598,Units,1970,87.500000
8,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,1822,Units,1971,87.500000
9,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,2046,Units,1972,87.500000
10,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,2270,Units,1973,80.026083
11,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,2494,Units,1974,78.750000
12,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,2718,Units,1975,78.750000
13,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,2942,Units,1976,86.250000
14,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,3166,Units,1977,90.000000
15,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,3390,Units,1978,90.000000
16,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,3614,Units,1979,90.000000
17,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,3838,Units,1980,90.000000
18,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,4062,Units,1981,90.000000
19,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,4286,Units,1982,90.000000
20,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,4510,Units,1983,92.948333
21,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,4734,Units,1984,119.709167
22,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,4958,Units,1985,120.690750
23,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,5182,Units,1986,114.171083
24,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,5406,Units,1987,123.563833
25,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,5630,Units,1988,140.395000
26,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,5854,Units,1989,158.666667
27,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,6078,Units,1990,171.255417
28,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,6302,Units,1991,181.512583
29,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,6526,Units,1992,208.302667

In [38]:
grower_prices = grower_prices.drop(columns='Unnamed: 0.1')

In [40]:
grower_prices = grower_prices.drop(columns='Unnamed: 0_x')

In [41]:
grower_prices.head()

,Country,Continents,Unit,Country_Code,Weight,Type,Type of Coffee,Date_x,Price,unit_price(/kg),Unnamed: 0_y,Scale,Date_y,Conversions_Numeric
0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,30,Units,1963,50.000
1,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,254,Units,1964,50.000
2,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,478,Units,1965,84.375
3,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,702,Units,1966,87.500
4,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.0,926,Units,1967,87.500

In [45]:
grower_prices.to_csv('deconstructed_GrowerPrices/merged_grower_prices_exchange_rates.csv')

In [46]:
retailpath = 'deconstructed_RetailPrices/RetailPrice_CLEANED_VIZREADY_countrynameupdated.csv'
retail_prices = pd.read_csv(retailpath)
retail_prices.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Country,Region,Unit,Country_Code,Weight,Date,Price,unit_price(/kg)
0,0,2665,2665,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65
1,1,2668,2668,Italy,Europe,kg,ITL,1.0,Oct-1963,2051.00,2051.00
2,2,2670,2670,Norway,Europe,kg,NOK,1.0,Oct-1963,12.00,12.00
3,3,2671,2671,Sweden,Europe,kg,SEK,1.0,Oct-1963,8.45,8.45
4,4,2961,2961,Cyprus,Europe,kg,CYP,1.0,Nov-1963,0.65,0.65

In [47]:
retail_prices = retail_prices.merge(xchangerates, how='inner', on='Country')
retail_prices.head()

,Unnamed: 0_x,Unnamed: 0.1,Unnamed: 0.1.1,Country,Region,Unit,Country_Code,Weight,Date_x,Price,unit_price(/kg),Unnamed: 0_y,Scale,Date_y,Conversions_Numeric
0,0,2665,2665,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,52,Units,1963,0.357143
1,0,2665,2665,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,276,Units,1964,0.357143
2,0,2665,2665,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,500,Units,1965,0.357143
3,0,2665,2665,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,724,Units,1966,0.357143
4,0,2665,2665,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,948,Units,1967,0.362103

In [48]:
retail_prices = retail_prices.drop(columns='Unnamed: 0_x')

In [49]:
retail_prices = retail_prices.drop(columns='Unnamed: 0.1')

In [51]:
retail_prices = retail_prices.drop(columns='Unnamed: 0.1.1')

In [55]:
retail_prices.head()

,Country,Region,Unit,Country_Code,Weight,Date_x,Price,unit_price(/kg),Unnamed: 0_y,Scale,Date_y,Conversions_Numeric
0,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,52,Units,1963,0.357143
1,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,276,Units,1964,0.357143
2,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,500,Units,1965,0.357143
3,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,724,Units,1966,0.357143
4,Cyprus,Europe,kg,CYP,1.0,Oct-1963,0.65,0.65,948,Units,1967,0.362103

In [53]:
retail_prices.to_csv('deconstructed_RetailPrices/merged_grower_prices_exchange_rates.csv')