In [1]:
import pandas as pd

In [2]:
path = 'exchange_rates_VIZREADY.csv'

In [3]:
xchangerates = pd.read_csv(path)
xchangerates.head()

   Unnamed: 0                       Country  Scale  Date  Conversions_Numeric
0           0  Afghanistan, Islamic Rep. of  Units  1963         3.510964e+01
1           1                       Albania  Units  1963                  NaN
2           2                       Algeria  Units  1963         4.937060e+00
3           3                        Angola  Units  1963         2.875203e-08
4           4                      Anguilla  Units  1963         1.714118e+00

In [4]:
growerpath = 'deconstructed_GrowerPrices/Grower_Prices_VIZREADY_countrynameupdated.csv'
grower_prices = pd.read_csv(growerpath)
grower_prices.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Country,Continents,Unit,Country_Code,Weight,Type,Type of Coffee,Date,Price,unit_price(/kg)
0,0,0,0,Burundi,Africa,kg,BIF,1,P,Arabica,Jan-1963,20.0,20.00
1,1,1,1,Cameroon,Africa,kg,XAF,1,G,Robusta,Jan-1963,90.3,90.30
2,2,2,2,Côte d'Ivoire,Africa,kg,XAF,1,G,Robusta,Jan-1963,80.0,80.00
3,3,5,5,Kenya,Africa,kg,KES,50,G,Arabica,Jan-1963,274.0,5.48
4,4,6,6,"Madagascar, Rep. of",Africa,kg,MGF,1,G,Robusta,Jan-1963,83.0,83.00

In [ ]:
grower_prices = grower_prices.merge(xchangerates, how='inner', on=['Country','Date')
grower_prices.head(30)

In [ ]:
grower_prices = grower_prices.drop(columns='Unnamed: 0.1')

In [ ]:
grower_prices = grower_prices.drop(columns='Unnamed: 0_x')

In [ ]:
grower_prices.head()

In [ ]:
grower_prices.to_csv('deconstructed_GrowerPrices/merged_grower_prices_exchange_rates.csv')

In [ ]:
retailpath = 'deconstructed_RetailPrices/RetailPrice_CLEANED_VIZREADY_countrynameupdated.csv'
retail_prices = pd.read_csv(retailpath)
retail_prices.head()

In [ ]:
retail_prices = retail_prices.merge(xchangerates, how='inner', on='Country')
retail_prices.head()

In [ ]:
retail_prices = retail_prices.drop(columns='Unnamed: 0_x')

In [ ]:
retail_prices = retail_prices.drop(columns='Unnamed: 0.1')

In [ ]:
retail_prices = retail_prices.drop(columns='Unnamed: 0.1.1')

In [ ]:
retail_prices.head()

In [ ]:
retail_prices.to_csv('deconstructed_RetailPrices/merged_grower_prices_exchange_rates.csv')